[Unit]
Description=HMS Frontend Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/Hospital-Management-System---V2/hms-frontend
ExecStart=/usr/bin/serve -s . -l 3000
Restart=always
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
